node_modules/
Qunut.mp3
Juzz30.mp3
Dzikir_Short.mp3
Dzikir_Long.mp3
Al_Waqiah.mp3
6_Adzan_Subuh.mp3
5_Adzan_Syeikh_Misyari_Rasyid.mp3
4_Adzan.mp3
3_Adzan.mp3
2_Adzan.mp3
1_Adzan_Masjidil_Haram.mp3
adzan.mp3
package-lock.json